.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.game-square {
  width: 100px;
  height: 100px;
  background: #a9adaf;
  color: white;
  font-size: 25px;
}

.game-square-focused{
  outline: 3px solid #b1f7ff !important;
}